<?xml version="1.0" ?>
<model>
  <name>Quadrotor with multi ranger sensor</name>
  <version>1.0</version>
  <sdf version="1.8">quadrotor_multi_ranger.sdf</sdf>

  <author>
    <name>pariaspe</name>
  </author>

  <description>
    A quadrotor model extended with a multi ranger sensor.
  </description>
</model>
